<!-- Should be a filter -->
<nav class="flex justify-between">
    <div class="ml-[10%]">
        <ul class="flex justify-center">
            <li>Start Date: <input type="date" name="filterStartDate" [formControl]="filterStartDate" 
                class="h-8 my-2 border-solid border-2 border-slate-400 focus:border-slate-400 focus:border-4 focus:ring-0 outline-none rounded"></li>
            <li class="ml-6">End Date: <input type="date" name="filterEndDate" [formControl]="filterEndDate" 
                class="h-8 my-2 border-solid border-2 border-slate-400 focus:border-slate-400 focus:border-4 focus:ring-0 outline-none rounded"></li>
        </ul>
    </div>
    <div class="mr-[10%]">
        <button class="bg-blue-400 border-2 border-blue-500 px-[10px] py-1 mt-2 rounded" (click)="onDateBasedFilter()">Show Available Rooms</button>
        <button class="mx-3 bg-red-400 border-2 border-red-500 px-[10px] py-1 mt-2 rounded" (click)="onClearDateFilter()">Clear Filter</button>
    </div>
</nav>


<!-- Location based filter -->
<div class="flex justify-center flex-row flex-wrap overflow-visible">
  @for(room of rooms(); track room.roomId){

  <div
    class="mx-3 my-3 border-2 border-slate-400 border-solid rounded-lg h-[25%] w-[30%] px-4 py-2 transition duration-200 hover:z-10 hover:scale-105 hover:bg-cyan-50"
  >
    <h2 class="text-center text-3xl mb-2 text-slate-600">
      {{ room.roomName }}
    </h2>

    <div class="relative overflow-visible">
      <img
        [src]="room.roomMainImgSrc"
        [alt]="room.roomName + ' image'"
        class="w-full transition-all duration-300 ease-in-out hover:scale-110 hover:-translate-y-6 hover:shadow-lg hover:shadow-slate-400 hover:rounded-lg hover:z-10"
      />
    </div>
    <div class="flex justify-between mx-4 my-2">
      <p class="text-[10px]">
        Room type:
        <span
          class="shadow-sm shadow-slate-300 opacity-85 p-1 text-[14px] rounded"
          >{{ room.roomType }}</span
        >
      </p>
      <p class="text-[10px]">
        Capacity:
        <span
          class="shadow-sm shadow-slate-300 opacity-85 p-1 text-[14px] rounded"
          >{{ room.roomCapacity }}</span
        >
      </p>
    </div>
    @if(room.roomDescription.length > 80){
    <p>{{ room.roomDescription.slice(0, 80) }}</p>
    }@else {
    <p>{{ room.roomDescription }}</p>
    }

    <div class="flex justify-start">
      <div class="flex flex-col justify-center w-[45%]">
        <p>Start Date</p>
        <input
          type="date"
          name="startDate"
          class="h-8 my-2 border-solid border-2 border-slate-400 focus:border-slate-400 focus:border-4 focus:ring-0 outline-none rounded"
          [formControl]="startDate"
        />
      </div>
      <div class="flex flex-col justify-center w-[45%] mx-2">
        <p>End Date</p>
        <input
          type="date"
          name="endDate"
          class="h-8 my-2 border-solid border-2 border-slate-400 focus:border-slate-400 focus:border-4 focus:ring-0 outline-none rounded"
          [formControl]="endDate"
        />
      </div>
      <div
        class="flex flex-col-reverse justify-start mb-1"
        (click)="onCheckAvailability(room.roomId)"
      >
        <svg
          class="h-10 w-10 text-slate-600 hover:fill-slate-400"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </div>
    </div>
    @if(isAvailable=='NOT_CHECKED'){
        <p class="text-[12px]">*Fill dates and Check availability</p>
    }
    @else if(isAvailable == 'AVAILABLE'){
        <p class="text-[14px] text-green-600">Available</p>
    }@else {
        <p class="text-[18px] text-red-600">*{{ chkAvailabilityError}}</p>
    }
    <p class="text-[10px]">
      *Managed by <a href="#" class="underline">{{ room.CreatorName }}</a>
    </p>
  </div>
  }
</div>
